@mixin button-colour($color, $fontColor: #fff)
  color: $fontColor
  background-color: $color
  +background-image(linear-gradient($color, darken($color, 5%)))
  border-color: darken($color, 10%)
  text-shadow: 0 1px 1px rgba(darken($color, 10%), 0.3)
  +box-shadow(inset 0 1px 1px rgba(darken($color, 15%), 0.3))

  &:hover
    +background-image(linear-gradient($color, darken($color, 10%)))
    background-color: darken($color, 10%)
    border-color: darken($color, 20%)
    text:
      decoration: none
    +box-shadow(0 1px 1px rgba(0,0,0,0.2))

  &:active
    +box-shadow(inset 0 2px 6px rgba(darken($color, 15%),0.9) !important)

  &.disabled
    &, &:hover, &:active
      background-image: none
      background-color: $color
      border-color: darken($color, 10%)
      color: darken($fontColor, 20%)
      cursor: wait

    &:active
      +box-shadow(none !important)


.button
  +inline-block
  margin: 0
  padding: 0 1.25em
  line-height: 2.25em
  border:
    width: 1px
    style: solid
  +border-radius(3px)
  +transition(all 150ms ease-in-out)
  cursor: pointer
  text-decoration: none

  i.l, i.r
    +inline-block
    height: inherit
    width: inherit
    background:
      position: center center
      repeat: no-repeat
      size: 100% auto
  i.l
    margin:
      left: -0.5em
      right: 0.5em
  i.r
    margin:
      left: 0.5em
      right: -0.5em

.button:focus
  outline: none

.button.action
  @include button-colour(#ff9666, #333)

.button.continue
  @include button-colour(#5493d3)

.button.info, .button.grey
  @include button-colour(#ddd, #333)
  &.email i.l
    background:
      size: 90% auto
    +opacity(0.8)

.button.facebook
  @include button-colour(#395b98)
  i.l
    width: 1em
    margin-left: -0.75em
    background:
      size: auto 22px
