// This includes a line-height hack to vertically center the placeholder text
@mixin f-placeholder
  font:
    style: italic
  padding: inherit 0
  line-height: 1.32em

label
  @extend .f-fw-bold
  font-size: inherit

// Make multiple select elements height not fixed
select[multiple], select[size]
  height: auto

// Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
select optgroup
  font-size: inherit
  font-style: inherit
  font-family: inherit

input, textarea, select
  width: 100%
  padding: 0.75em
  font-size: inherit
  line-height: inherit
  background: white
  border: 1px solid $f-color-medium
  +border-radius(2px)
  +transition(all 0.3s linear)
  +box-shadow(inset 0 1px 2px rgba(0,0,0,0.2))
  outline: 0
  vertical-align: middle

  &:focus
    background-color: darken(#fff, 2.5%)

  &::-webkit-input-placeholder
    +f-placeholder
  &:-moz-placeholder
    +f-placeholder
  &::-moz-placeholder
    +f-placeholder
  &:-ms-placeholder
    +f-placeholder

.f-input-decorator
  border: 1px solid $f-color-medium
  +border-radius(2px)
  display: table
  width: 100%

  input
    display: table-cell
    width: 100%
    border: none

  input:first-child
    +border-right-radius(0)

  input:last-child
    +border-left-radius(0)

  .f-decorator
    display: table-cell
    padding: 0 0.5em
    font-size: inherit
    line-height: inherit
    text-align: center
    border-color: $f-color-medium

  .f-decorator:last-child
    @extend .f-b-l

  .f-decorator:first-child
    @extend .f-b-r

.f-form-row
  display: table
  width: 100%

  label
    display: table-cell

  input, textarea, select, .f-input-decorator
    display: table-cell
    width: 100%

  &.stacked
    label
      display: block

    input, textarea, select, .f-input-decorator
      display: block