@mixin spinner-circle($color, $width:0.3em, $alpha:0.25, $rotation:20s)
  position: relative
  background: transparent
  box-shadow: inset $width 0 0 rgba($color, $alpha), inset 0 $width 0 rgba($color, $alpha), inset (-1 * $width) 0 0 rgba($color, $alpha), inset 0 (-1 * $width) 0 rgba($color, $alpha)
  border-radius: 100%
  -webkit-animation: spinner-rotate $rotation linear 0s infinite
  -moz-animation: spinner-rotate $rotation linear 0s infinite
  animation: spinner-rotate $rotation linear 0s infinite


@mixin colour-wheel($top:#eee, $bottom:#eee, $left:#bbb, $right:#bbb, $rotation:20s, $border:0.2em)
  position: relative

  border-width: $border
  border-style: solid
  border-top-color: $top
  border-bottom-color: $bottom
  border-left-color: $left
  border-right-color: $right

  height: 1em
  width: 1em
  +border-radius(100%)

  -webkit-animation: spinner-rotate $rotation linear 0s infinite
  -moz-animation: spinner-rotate $rotation linear 0s infinite
  animation: spinner-rotate $rotation linear 0s infinite


@-webkit-keyframes spinner-rotate
  100%
    -webkit-transform: rotateZ(3600deg) translateZ(0)
@-moz-keyframes spinner-rotate
  100%
    -moz-transform: rotateZ(3600deg) translateZ(0)
@keyframes spinner-rotate
  100%
    transform: rotateZ(3600deg) translateZ(0)