// Reset the box sizing
*,
*:before,
*:after
  @include box-sizing(border-box)


// Z-indexes
.f-z-appribbon
  z-index: 1000
.f-z-popup
  z-index: 1001
.f-z-top
  z-index: 1010


// Margins
.f-margin-half
  margin: $font-size-base/2
.f-margin-one
  margin: $font-size-base
.f-margin-two
  margin: $font-size-base * 2
.f-margin-t-half
  margin-top: $font-size-base/2
.f-margin-b-half
  margin-bottom: $font-size-base/2
.f-margin-l-half
  margin-left: $font-size-base/2
.f-margin-r-half
  margin-right: $font-size-base/2
.f-margin-t-one
  margin-top: $font-size-base
.f-margin-b-one
  margin-bottom: $font-size-base
.f-margin-l-one
  margin-left: $font-size-base
.f-margin-r-one
  margin-right: $font-size-base
.f-margin-t-two
  margin-top: $font-size-base * 2
.f-margin-b-two
  margin-bottom: $font-size-base * 2
.f-margin-l-two
  margin-left: $font-size-base * 2
.f-margin-r-two
  margin-right: $font-size-base * 2


// Padding
.f-padding-half
  padding: $font-size-base/2
.f-padding-one
  padding: $font-size-base
.f-padding-two
  padding: $font-size-base * 2
.f-padding-t-half
  padding-top: $font-size-base/2
.f-padding-b-half
  padding-bottom: $font-size-base/2
.f-padding-l-half
  padding-left: $font-size-base/2
.f-padding-r-half
  padding-right: $font-size-base/2
.f-padding-t-one
  padding-top: $font-size-base
.f-padding-b-one
  padding-bottom: $font-size-base
.f-padding-l-one
  padding-left: $font-size-base
.f-padding-r-one
  padding-right: $font-size-base
.f-padding-t-two
  padding-top: $font-size-base * 2
.f-padding-b-two
  padding-bottom: $font-size-base * 2
.f-padding-l-two
  padding-left: $font-size-base * 2
.f-padding-r-two
  padding-right: $font-size-base * 2


// Position
.f-pos-rel
  position: relative
.f-pos-abs
  position: absolute
.f-pos-fix
  position: fixed


// Display alignment
.f-absolute-center
  overflow: auto
  margin: auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
.f-align-tr
  position: absolute
  top: 0
  right: 0
.f-align-tl
  position: absolute
  top: 0
  left: 0
.f-align-r
  position: absolute
  bottom: 0
  right: 0
.f-align-bl
  position: absolute
  bottom: 0
  left: 0