// Reset the box sizing
*, *:before, *:after
  @include box-sizing(border-box)


// Page Container
.f-page-container
  width: $f-page-container-width
  margin:
    left: auto
    right: auto


// Z-indexes
.f-z-appribbon
  z-index: $f-z-appribbon
.f-z-popup
  z-index: $f-z-popup
.f-z-top
  z-index: $f-z-top
.f-z-bottom
  z-index: 1


@mixin make-margin-padding-set($set, $dimension)
  .f-m-#{$set}
    margin: $dimension
  .f-m-l-#{$set}
    margin-left: $dimension
  .f-m-r-#{$set}
    margin-right: $dimension
  .f-m-t-#{$set}
    margin-top: $dimension
  .f-m-b-#{$set}
    margin-bottom: $dimension
  .f-p-#{$set}
    padding: $dimension
  .f-p-l-#{$set}
    padding-left: $dimension
  .f-p-r-#{$set}
    padding-right: $dimension
  .f-p-t-#{$set}
    padding-top: $dimension
  .f-p-b-#{$set}
    padding-bottom: $dimension
  .f-content-spacing-#{$set}
    & > *
      margin-left: $dimension
    & > *:first-child
      margin-left: 0


// Margins and Padding Sets
+make-margin-padding-set(xsmall,  $f-spacing-xsmall)
+make-margin-padding-set(small,   $f-spacing-small)
+make-margin-padding-set(medium,  $f-spacing-medium)
+make-margin-padding-set(large,   $f-spacing-large)
+make-margin-padding-set(xlarge,  $f-spacing-xlarge)


// Borders
@mixin make-border-set($width:1, $k:'')
  @if $width > 1
    $k: "-#{$width}"

  .f-b-white#{$k}, .f-b-xlight#{$k}, .f-b-light#{$k}, .f-b-medium#{$k}, .f-b-dark#{$k}, .f-b-xdark#{$k}, .f-b-black#{$k}
    border:
      style: solid
      width: #{$width}px
  .f-b-l#{$k}
    border-width: 0px
    border-left-width: #{$width}px
  .f-b-r#{$k}
    border-width: 0px
    border-right-width: #{$width}px
  .f-b-t#{$k}
    border-width: 0px
    border-top-width: #{$width}px
  .f-b-b#{$k}
    border-width: 0px
    border-bottom-width: #{$width}px

+make-border-set
+make-border-set(2)
+make-border-set(3)
+make-border-set(4)
+make-border-set(5)

.f-b-nl
  border-left-width: 0px
.f-b-nr
  border-right-width: 0px
.f-b-nt
  border-top-width: 0px
.f-b-nb
  border-bottom-width: 0px


// Position
.f-pos-rel
  position: relative
.f-pos-abs
  position: absolute
.f-pos-fix
  position: fixed


// Display alignment
.f-absolute-center, [class*='f-align-']
  position: absolute
.f-absolute-center
  margin: auto
  top: 0
  left: 0
  bottom: 0
  right: 0
.f-align-tr
  top: 0
  right: 0
.f-align-tl
  top: 0
  left: 0
.f-align-br
  bottom: 0
  right: 0
.f-align-bl
  bottom: 0
  left: 0
.f-align-t
  top: 0
.f-align-b
  bottom: 0
.f-align-l
  left: 0
.f-align-r
  right: 0
.f-align-tc
  left: 0
  right: 0
  top: 0
.f-align-bc
  left: 0
  right: 0
  bottom: 0
.f-align-c
  margin:
    left: auto
    right: auto


// Floats
.f-fl
  float: left
.f-fr
  float: right
.f-fn
  float: none


// Misc.
.f-width-100
  width: 100%
.f-height-100
  height: 100%
.f-ilb
  +inline-block


// Horizontal rules (the colors are mixed into the color sets)
[class*='f-hr']
  height: 0
  border-bottom-style: solid
  border-bottom-width: 1px
.f-hr
  @extend .f-hr-light