// Reset
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p
  padding: 0
  margin: 0


// Font Families
.f-font-main
  font-family: $f-font-base
.f-font-condensed
  font-family: $f-font-condensed
.f-font-monospace
  font-family: $f-font-monospace
.f-font-serif
  font-family: $f-font-serif
.f-font-italic
  font:
    family: $f-font-serif
    style: italic


// Font Reset
html
  font-size: 100%
  -webkit-tap-highlight-color: rgba(0,0,0,0)

body
  font-family: $f-font-base
  font-size: $f-font-size
  line-height: $line-height-base

input,
button,
select,
textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit


// Font Sizes
.f-fs-xsmall
  font-size: $f-fs-xsmall
.f-fs-small
  font-size: $f-fs-small
.f-fs-medium
  font-size: $f-fs-medium
.f-fs-large
  font-size: $f-fs-large
.f-fs-xlarge
  font-size: $f-fs-xlarge


// Font Weights
.f-fw-thin
  font-weight: 100
.f-fw-normal
  font-weight: 300
.f-fw-medium
  font-weight: 500
.f-fw-bold
  font-weight: 700
.f-fw-ultrabold
  font-weight: 900


// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-family: $f-font-condensed
  font-weight: 700
h1, .h1
  font-size: $f-fs-h1
h2, .h2
  font-size: $f-fs-h2
h3, .h3
  font-size: $f-fs-h3
h4, .h4
  font-size: $f-fs-h4
h5, .h5
  font-size: $f-fs-h5
h6, .h6
  font-size: $f-fs-h6


// Line Heights
.f-lh-small
  line-height: 1em
.f-lh-medium
  line-height: 1.4em
.f-lh-large
  line-height: 2em
.f-lh-xlarge
  line-height: 2.5em


// Links
a
  text-decoration: none

  &:hover,
  &:focus
    text-decoration: underline

  &:focus
    @include tab-focus()


// Text Utilities
.f-text-truncate
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  word-wrap: normal

.f-tl
  text-align: left
.f-tc
  text-align: center
.f-tr
  text-align: right

.f-caps
  text-transform: uppercase
.f-lower
  text-transform: lowercase
.f-normal-caps
  text-transform: none