// Overflow
.f-of-hidden
  overflow: hidden
.f-of-hidden-x
  overflow-x: hidden
.f-of-hidden-y
  overflow-x: hidden


// Border radius
.f-br-small
  +border-radius(2px)
.f-br-medium
  +border-radius(4px)
.f-br-large
  +border-radius(6px)
.f-br-round
  +border-radius(100%)


// Cursor elements
.f-clickable
  cursor: pointer
.f-draggable
  cursor: move


// Hover show
// - need to place this class both on the component you want to hide/show and
//   on its parent
.f-hover-show
  .f-hover-show
    display: none
.f-hover-show:hover
  .f-hover-show
    display: block