// Overflow
.f-of-hidden
  overflow: hidden
.f-of-hidden-x
  overflow-x: hidden
.f-of-hidden-y
  overflow-x: hidden


// Border radius
.f-br-none
  +border-radius(0)
.f-br-xsmall
  +border-radius(2px)
.f-br-small
  +border-radius(3px)
.f-br-medium
  +border-radius(6px)
.f-br-large
  +border-radius(10px)
.f-br-circle
  +border-radius(100%)

.f-br-none-tl
  +border-top-left-radius(0)
.f-br-none-tr
  +border-top-right-radius(0)
.f-br-none-bl
  +border-bottom-left-radius(0)
.f-br-none-br
  +border-bottom-right-radius(0)


// Cursor elements
.f-clickable
  cursor: pointer
.f-draggable
  cursor: move


// Hover show
// - need to place this class both on the component you want to hide/show and
//   on its parent
.f-hover-show
  .f-hover-show
    display: none
.f-hover-show:hover
  .f-hover-show
    display: block