// Overflow
.f-of-hidden
  overflow: hidden

// Border radius
.f-br-small
  +border-radius(2px)
.f-br-medium
  +border-radius(4px)
.f-br-large
  +border-radius(6px)
.f-br-round
  +border-radius(100%)


.f-clickable
  cursor: pointer
.f-draggable
  cursor: move