// Import the base sass variables
@import "sass-bootstrap/lib/variables"

// Z-indexes
$f-z-appribbon: 1000
$f-z-popup: 1001
$f-z-top: 1010

// Page Container Width
$f-page-container-width: 1100px

// Number of grid columns
$f-grid-columns: 12