// Import the base sass variables
@import "sass-bootstrap/lib/variables"

// -------
// Typography
// -------

$f-font-sans-serif:  "Roboto", Helvetica, Arial, sans-serif
$f-font-serif:       Georgia, "Times New Roman", Times, serif
$f-font-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace
$f-font-condensed:   "Roboto Condensed", Helvetica, Arial, sans-serif
$f-font-base:        $f-font-sans-serif
$f-font-size:        14px

$f-fs-xsmall:        round($f-font-size * 0.75)
$f-fs-small:         round($f-font-size * 0.85)
$f-fs-regular:       $f-font-size
$f-fs-large:         ceil($f-font-size * 1.5)
$f-fs-xlarge:        ceil($f-font-size * 2)
$f-fs-xxlarge:       ceil($f-font-size * 2.5)

$f-fs-h1:            round($f-font-size * 2.5)
$f-fs-h2:            round($f-font-size * 2)
$f-fs-h3:            round($f-font-size * 1.75)
$f-fs-h4:            round($f-font-size * 1.25)
$f-fs-h5:            $f-font-size
$f-fs-h6:            round($f-font-size * 0.85)

// -------
// End Typography
// -------


// -------
// Layout
// -------

// Page Container Width
$f-page-container-width: 960px

// Number of grid columns
$f-grid-columns:         12

// Appribbon Height
$f-appribbon-height:     60px

// Margins/Padding
$f-spacing-small:        $f-font-size/2
$f-spacing-regular:      $f-font-size
$f-spacing-large:        $f-font-size * 1.5
$f-spacing-xlarge:       $f-font-size * 2
$f-spacing-xxlarge:      $f-font-size * 3

// Z-indexes
$f-z-appribbon:          1000
$f-z-popup:              1001
$f-z-top:                1010

// -------
// End Layout
// -------


// -------
// Colour
// -------

// Colour Swatch
$f-color-swatch-one:   #59CAE9
$f-color-swatch-two:   #CEE8C5
$f-color-swatch-three: #FF9666
$f-color-swatch-four:  #777F83
$f-color-swatch-five:  #252B2C

// White to Black
$f-color-white:        white
$f-color-xlight:       #f0f0f0
$f-color-light:        #eee
$f-color-medium:       #888
$f-color-dark:         #444
$f-color-black:        black

// Social network brand colors
$f-color-facebook:     #395b98
$f-color-twitter:      #1ba5e2
$f-color-google:       #ff0000
$f-color-linkedin:     #1d87bd
$f-color-pinterest:    #cb2027

// Primary color
$f-color-primary:      #FF8B5D

// Application state colors
$f-color-success:      green
$f-color-error:        red

// Links
$f-color-link:         $f-color-medium
$f-color-link-hover:   darken($f-color-link, 15%)

// -------
// End Colour
// -------


// -------
// Miscellaneous
// -------

// -------
// End Miscellaneous
// -------
