.f-icon
  +inline-block
  height: 30px
  width: 30px
  background:
    position: center center
    size: cover
    repeat: no-repeat

  &.f-icon-left
    background-position: left center
  &.f-icon-right
    background-position: right center

  &.f-non-profit, .f-icon
    background-image: inline-image('categories/cc_charity.png')
  &.f-community
    background-image: inline-image('categories/cc_community.png')
  &.f-arts
    background-image: inline-image('categories/cc_creative.png')
  &.f-education
    background-image: inline-image('categories/cc_education.png')
  &.f-children
    background-image: inline-image('categories/cc_family_kids.png')
  &.f-other
    background-image: inline-image('categories/cc_fun_special_events.png')
  &.f-greek
    background-image: inline-image('categories/cc_greek.png')
  &.f-health
    background-image: inline-image('categories/cc_health.png')
  &.f-memorial
    background-image: inline-image('categories/cc_memorial.png')
  &.f-animal
    background-image: inline-image('categories/cc_pets.png')
  &.f-politics
    background-image: inline-image('categories/cc_politics.png')
  &.f-church
    background-image: inline-image('categories/cc_religious_groups.png')
  &.f-run-walk-ride
    background-image: inline-image('categories/cc_runwalkride.png')
  &.f-sports
    background-image: inline-image('categories/cc_sports_and_teams.png')
  &.f-trips
    background-image: inline-image('categories/cc_travel.png')
  &.f-location
    background-image: inline-image('categories/cc_pin.png')